---
# defaults file for toolchain-setup

# Actual location of media files
media_network_location: 192.168.1.50:/volume1/Media

# Path to mount media files on local machine
media_root_path:  /mnt/Media

# Local folders for container volumes
volumes:
  nzbget:
    config: /opt/nzbget/config
    downloads: "{{ media_root_path }}/Unsorted/complete"
  sonarr:
    config: /opt/sonarr/config
    tv_shows: "{{ media_root_path }}/TV Series"
  radarr:
    config: /opt/radarr/config
    movies: "{{ media_root_path }}/Movies"

# Images to be used for container tools    
container_images:
  nzbget: linuxserver/nzbget
  sonarr: linuxserver/sonarr
  radarr: linuxserver/radarr
  


