---

# Debug message for cs_volume:
- name:
  debug:
    var: "{{ volumes }}"

# Install epel repo
- name: Install EPEL repository
  yum:
    name: epel-release
    state: latest

# Install git, ansible, docker
- name: Install a list of packages
  yum:
    name:
      - git
      - ansible
      - docker
    state: latest

- name: Ensure docker deamon is running
  service:
    name: docker
    state: started
    enabled: true
  become: true
  tags:
  - docker

# Install pip with easy_install
- name: Install pip
  easy_install:
    name: pip
    state: latest

# Install pip packages:
- name: Install pip managed packages
  pip:
    name: "{{ item }}"
    state: latest
  loop:
    - docker
  tags:
  - docker

# Add Media mount to FStab
- name: Mount NAS Media folder to /mnt/Media
  mount:
    state: mounted
    path: /mnt/Media 
    src: nas:/volume1/Media
    fstype: nfs

# Create users & groups
- name: Create users
  user:
    name: "{{ item }}"
    state: present
    comment: "{{ item }} user"
    groups: "docker"
    append: yes
  loop:
    - sabnzbd
    - sonarr
    - radarr


# Setup application data folders
- name: Create application folders
  file:
    path: "/opt/{{ item }}"
    state: directory
    owner: "{{ item }}"
    group: docker
    mode: '755'
  loop:
    - sabnzbd
    - sonarr
    - radarr


# Pull docker images for sabnzbd, sonarr, radarr
- name: Pull docker images for sabnzbd, sonarr, radarr
  docker_image:
    name: "{{ item }}"
    source: pull
  loop:
    - linuxserver/sabnzbd
    - linuxserver/sonarr
    - linuxserver/radarr
  tags:
  - docker


# Setup paramaters for all of the above

#How do we create a container for sabnzbd?
#
#docker create --name=sabnzbd \
#-e PGID=$gidnum -e PUID=$idnum \
#-e TZ=America/Los_Angeles \

# Create sabnzbd container
- name:
  docker_container:
    name: sabnzbd
    image: linuxserver/sabnzbd
    state: started
    user: 1001
    group: 1001
    published_ports: 
    - 8080:8080
    - 9090:9090
    restart_policy: always
#    pull: true     # Might be able to remove the docker_image task above if I set this?
    volumes:
    - /opt/sabnzbd/config:/config
    - /opt/sabnzbd/incomplete:/incomplete
    - /opt/sabnzbd/completed:/completed
  tags:
    - docker
    - sabnzbd


# Create containers for the above







# Run containers
#- name: Ensure My docker container is running
#  docker_container:
#    name: testing
#    image: busybox
#    state: started
#  become: true

